<!-- Para cargar archivos estáticos -->
{% load static %} 
<!DOCTYPE html>
<html lang="zxx">

<!-- Encabezado de la Página -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Título de la Página -->
    <title>MANGA COMMUNITY Plus by SHUEISHA</title>

    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Estilos Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Precargador de páginas -->
    <div id="preloder">
        <!-- Cargador de páginas -->
        <div class="loader"></div>
    </div>

    <!-- Inicio de Sección de Encabezado -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <!-- Url que redirige al index al tocar el logo de la página -->
                        <a href="{% url 'main:home' %}">
                            <img src="{% static 'img/logoM.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <!-- Urls que redirigen al usuario a cada uno de sus apartados -->
                                <li class="active"><a href="{% url 'main:home' %}">Inicio</a></li>
                                <li><a href="{% url 'main:reviews' %}">Reviews</a></li>
                                </li>
                                <li><a href="{% url 'main:blogs' %}">Blogs</a></li>
                                <li><a href="https://mangaplus.shueisha.co.jp/updates">Ver Mangas</a></li>
                                <li style="color: #b7b7b7; font-size: 15px; font-weight: 700;"> MICreador <span class="arrow_carrot-down"></span>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'main:blogaddinfo' %}">Crear Blogs</a></li>
                                        <li><a href="{% url 'main:reviewaddinfo' %}">Crear Reviews</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="{% url 'main:logout' %}"><img src="{% static 'img/icon_logout (1).png' %}" alt="">
                        <a href="{% url 'main:login' %}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Fin de Sección de Encabezado -->

    <!-- Inicio del apartado de Inicio, Reviews con sus respectivos urls y el nombre de la categoría Shonen -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'main:home' %}"><i class="fa fa-home"></i> Inicio</a>
                        <a href="{% url 'main:reviews' %}">Reviews</a>
                        <span>Shōnen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del apartado de Inicio, Reviews con sus respectivos urls y el nombre de la categoría Shonen -->

    <!-- Inicio de la Sección de Reviews creadas -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>SHŌNEN</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="product__page__filter">
                                        <p>Ordenar de:</p>
                                        <select>
                                            <!-- Apartado para Ordenar las Reviews (OJO AÚN NO ESTÁ IMPLEMENTADO YA QUE FALTARÍA HACER UNA BASE DE DATOS CON CADA UNO DE LAS REVIEWS PUESTAS!!) -->
                                            <option value="">A-Z</option>
                                            <option value="">1-10</option>
                                            <option value="">10-50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for obj in object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" {% if obj.image %}data-setbg="{{obj.image.url}}"{% endif %}>
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 6</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="{%url 'main:review' slug=obj.slug %}">{{obj.name}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Reviews Más Vistas</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Día</li>
                                <li data-filter=".week">Semana</li>
                                <li data-filter=".month">Mes</li>
                                <li data-filter=".years">Año</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="{% static 'img/popular/popular-7.jpg' %}">
                                <div class="ep">18 / 18</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="{%url 'main:review' slug=object_list.6.slug %}">{{object_list.6.name}}</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                            data-setbg="{% static 'img/popular/popular-8.jpg' %}">
                            <div class="ep">18 / 18</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="{%url 'main:review' slug=object_list.8.slug %}">{{object_list.8.name}}</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg mix week years"
                        data-setbg="{% static 'img/popular/popular-12.jpg' %}">
                        <div class="ep">18 / 18</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="{%url 'main:review' slug=object_list.12.slug %}">{{object_list.12.name}}</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                    data-setbg="{% static 'img/popular/popular-3.jpg' %}">
                    <div class="ep">18 / 18</div>
                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    <h5><a href="{%url 'main:review' slug=object_list.2.slug %}">{{object_list.2.name}}</a></h5>
                </div>
                <div class="product__sidebar__view__item set-bg mix day"
                data-setbg="{% static 'img/popular/popular-1.jpg' %}">
                <div class="ep">18 / 18</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="{%url 'main:review' slug=object_list.0.slug %}">{{object_list.0.name}}</a></h5>
            </div>
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>Redes Sociales</h5>
        </div>
        <div class="blog__details__social">
            <a href="https://www.facebook.com/mangaplus.es/" class="facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
        <p></p>
            <a href="https://discord.com/invite/yhneaVX" class="discord"><i class="fa fa-discord-square"></i> Discord</a>
        <p></p>
            <a href="https://mangaplus.shueisha.co.jp/updates" class="Shueisha"><i class="fa fa-Shueisha-square"></i> Shueisha</a>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Fin de la Sección de Reviews creadas -->

<!-- Inicio de la sección de Pie de Página con todos sus urls que redigiren al usuario a los diferentes apartados-->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url 'main:home' %}"><img src="{% static 'img/logoM.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'main:home' %}">Inicio</a></li>
                        <li><a href="{% url 'main:reviews' %}">Reviews</a></li>
                        <li><a href="{% url 'main:blogs' %}">Blog</a></li>
                        <li><a href="https://mangaplus.shueisha.co.jp/updates">Ver Mangas</a></li>
                        <li><a href="{% url 'main:blogaddinfo' %}">MICreador</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3" style="text-align: justify;text-justify: inter-word;">
                <p><!-- Referencia de Derechos de Autor como Decorativo -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados | Esta página web fue creada con fines educativos con mucho <i class="fa fa-heart" aria-hidden="true"></i> por <a href="https://www.twitch.tv/soyyairr" target="_blank">Yair Sánchez</a>
                  <!--  Referencia de Derechos de Autor como Decorativo --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Fin de la sección de Pie de Página con todos sus urls que redigiren al usuario a los diferentes apartados-->

<!-- JavaScript Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
<!-- Fin del Cuerpo de la Página -->

</html>